/binomial_packaging
/binomial_pypi_upload
/cast_list.py
/file_opening.py
/first-script.py
/first_script.py
/flying_circus_cast.txt
/pip_packaging_example
/snake_drawing.py
/some_file.txt
/some_project_testing.py
/student_script.py